<div class="container">
  <div>
    <h2>Ejercicio 1</h2>
    <span><app-saludo [nombre]="'Rodrigo'"></app-saludo></span>
    <hr>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 2</h2>
    <span><app-reloj></app-reloj></span>
    <hr>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 3</h2>
    <div><app-tareas></app-tareas></div>
    <hr>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 4</h2>
    <div><app-regresiva></app-regresiva></div>
    <hr>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 5</h2>
    <div><app-comentarios (comentarioEnviado)="manejarComentario($event)"></app-comentarios></div>
    <hr>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 6</h2>
    <div><app-producto></app-producto></div>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 7</h2>
    <div><app-calculadora></app-calculadora></div>
    <hr>
  </div>
  <div>
    <h2 class="mt-5">Ejercicio 8</h2>
    <div><app-carrito></app-carrito></div>
    <hr>
  </div>
</div>

<router-outlet></router-outlet>
